<div class="col-md-8 col-md-offset-2">
  <div class="jumbotron" style="padding: 10px;">
    <h2 style="text-align:center;">Rails on Mobile</h2>
    <p>
      This is a Rails boilerplate app. It contains a complete Auth system based on Michael Hartl's
      <a href="https://www.railstutorial.org/book" target="_blank"> "Ruby on Rails tutorial"</a> book.
      I also added an API boilerplate that works perfect with my React Native tutorial. I'm using an
      access_token in order to identify the user. It will be generated automatically once the user
      registers or logs in.
      I'm using MySql here so feel free to change it.
    </p>
    <p>
      Take a look at my tutorial or at the API folder to understand how things work.
    </p>
  </div>
</div>
